html {
    background: #e6e9e9;
    background-image: linear-gradient(270deg, rgb(230, 233, 233) 0%, rgb(216, 221, 221) 100%);
    -webkit-font-smoothing: antialiased;
}

body {
    background: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: #545454;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 800px;
    padding: 2em 2em 4em;
}

h1, h2, h3, h4, h5, h6 {
    color: #222;
    font-weight: 600;
    line-height: 1.3;
}

h2 {
    margin-top: 1.3em;
}

a {
    color: #0083e8;
}

b, strong {
    font-weight: 600;
}

samp {
    display: none;
}

img {
    -webkit-animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
            animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
    background: transparent;
    border: 10px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    display: block;
    margin: 1.3em auto;
    max-width: 95%;
}

@-webkit-keyframes colorize {
    0% {
        -webkit-filter: grayscale(100%);
    }
    100% {
        -webkit-filter: grayscale(0%);
    }
}

@keyframes colorize {
    0% {
        filter: grayscale(100%);
    }
    100% {
        filter: grayscale(0%);
    }
}

#projectholder
{
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}

/* PROJECT DETAIL SECTION */
#left{
   width:400px; height: 500px; float:left; 
}

#right{
    width:400px; height: 500px;float:right; 
}

element.style{
    transform: translate(0px);
}

@media (max-width: 991px)
    #main-content{
        padding-top: 70px!important;
}

@media (max-width: 767px)
    .page-header{
        min-height: 200px;
}

.page-header {
    margin-top: 45px;
    min-height: 375px;
    position: relative;
    padding: 30px 0;
    text-align: center;
    color: #ffffff;
    background-position: center center;
    background-size: cover;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary{
    display: block;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

user agent stylesheet
article, aside, footer, header, hgroup, main, nav, section {
    display: block;
}

div.image-container {
    padding: 100px 100px;
}

.image-container .column-left{
    width: 30%;
    float: left;
}

.column-center{
    width: 30%;
    float: inherit;
}

.column-right{
    width: 30%
    float: inherit;
}

#nav
{
    float: left;
}